<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>sfx1.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx2.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx3.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx4.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx5.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx6.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx7.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx8.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx9.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx10.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx11.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx12.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx13.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx14.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx15.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx16.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx17.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx18.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx19.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx20.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx21.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx22.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx23.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx24.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx25.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx26.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx27.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx28.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx29.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx30.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx31.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx32.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx33.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx34.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sfx35.png</string>
		<key>pack</key>
		<integer>0</integer>
		<key>type</key>
		<string>sfx</string>
		<key>locked</key>
		<true/>
	</dict>
</array>
</plist>
